.oui{
    height: 50px;
    
}
.champs{
    padding: 10px;
    justify-content: center;
    width: 300px;
}
.card{
    width: 400px;
    padding: 3px;
    margin-top: 25%;
    height: 600px;
    
    
}
.main{
    display: flex;
    justify-content: center ;
    width: 100%;
    
}