.champs{
    width: 100%;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 70PX;
    
}
input[type=submit]{
    margin: 0px;
    size: inherit;
}
    

.affi{
   margin:20px;
   height: 100%;
}
.card{
    flex-wrap: wrap;
    flex: 0 0 100;
    width: 400px;
    padding: 10px;
    margin-top: 25%;
    height: 450px;
    
    
}
.main{
    display: flex;
    justify-content: center ;
    width: 100%;
    
}
.login{
    width: 60%;
    align-items:  center;
    height: 50PX;
}