.oui{
    height: 50px;
    
}
.champs{
    padding: 10px;
    justify-content: center;
    
}
.card{
    width: 400px;
    padding: 10px;
    margin-top: 25%;
    height: 500px;
    
    
}
.main{
    display: flex;
    justify-content: center ;
    width: 100%;
    
}